.container {
  max-width: 640px;

  @apply mx-auto w-full px-4;

  @screen md {
    max-width: 768px;
  }

  @screen lg {
    max-width: 1024px;
  }

  @screen xl {
    max-width: 1280px;
  }
}

.row {
  @apply flex flex-col flex-wrap;

  @screen md {
    @apply flex-row;
  }
}