# <%= app_name.humanize %>

Rails app generated with [brightoctopus/octolauncher](https://github.com/brightoctopus/octolauncher).

Visit [Bright Octopus](https://www.brightoctopus.dev) for Ruby on Rails tutorials and more.
